<div class="container">
  <div class="p-5 text-center">
    <h1>{{ '::Welcome' | abpLocalization }}</h1>
    <a *ngIf="!hasLoggedIn" (click)="openModal()" class="px-4 btn btn-primary ml-1" role="button">
      <i class="fa fa-sign-in"></i> {{ 'AbpAccount::Login' | abpLocalization }}
    </a>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
      <h3>{{ '::Login' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="modal-dialog">
          <label for="username">Username</label><span> * </span>
          <input type="text" id="username" class="form-control" formControlName="username" autofocus />
        </div>
    
        <div class="modal-dialog">
          <label for="password">Password</label><span> * </span>
          <input type="password" id="password" class="form-control" formControlName="password" />
        </div>
      </form>
    </ng-template>

    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
      </button>
    
      <button class="btn btn-primary" (click)="login()" [disabled]="form.invalid">
            <i class="fa fa-check mr-1"></i>
            {{ '::Login' | abpLocalization }}
      </button>
    </ng-template>
</abp-modal>


<style>
  .modal-dialog {
            width: 360px;
          }
  </style>